{% set anchor = pimcore_input('anchor').getData() %}

{%- if headlineData is defined -%}
    <div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}>
       {% include 'areas/jwpimareas-headline/headline.html.twig' %}
    </div>
{%- endif -%}
