vendor/
node_modules/
src/Resources/public/
.env
.env.local
.yarn/cache
.pnp.*

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# windows
ehthumbs.db
Thumbs.db

# Vim etc.
*.swp
*.swo
.zed/
