{% set anchor = pimcore_input('anchor').getData() %}

{% set textblock = pimcore_wysiwyg('textblock', {
    placeholder: 'jwPimAreas.texteditor.name' | trans({}, 'admin', editorLanguage),
}) %}

<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}{{ columnCount is defined and columnCount ? ' class="jwpimareas-wysiwyg-column-count"' : '' }}>
    {{ editmode ? '' : dump(imagesData) }}
</div>
