{% set anchor = pimcore_input('anchor').getData() %}

{% set textblock = pimcore_wysiwyg('textblock', {
    placeholder: 'jwPimAreas.texteditor.name' | trans({}, 'admin', editorLanguage),
}) %}
{% set introduction = pimcore_wysiwyg('introduction', {
    placeholder: 'jwPimAreas.texteditor.introduction' | trans({}, 'admin', editorLanguage),
}) %}

<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}{{ columnCount is defined and columnCount ? ' class="jwpimareas-wysiwyg-column-count"' : '' }}>

    {% if editmode %}
        {% include 'areas/jwpimareas-headline/headline.html.twig' %}
        <div>{{ introduction | raw }}</div>
        <div class="mt-3 border-b">
            <small>{{ 'jwPimAreas.image.plural' | trans({}, 'admin', editorLanguage) }}:</small>
        </div>
        <div class="mb-1 px-2 pt-1 pb-3 border border-dashed">
            {% include 'areas/jwpimareas-element-image/images.html.twig' %}
        </div>
    {% endif %}

    {% if not editmode %}
        {% if imagesData.imagePos starts with 'top' %}
            <div>
                {% if imagesData.imagePosRelativeH is not same as('before') %}
                    {% include 'areas/jwpimareas-headline/headline.html.twig' %}
                {% endif %}
                {% if imagesData.imagePosRelativeH is same as('introduction') %}
                    <div>Introduction</div>
                {% endif %}

                {% include 'areas/jwpimareas-element-image/images.html.twig' %}

                {% if imagesData.imagePosRelativeH is same as('before') %}
                    {% include 'areas/jwpimareas-headline/headline.html.twig' %}
                {% endif %}
                {% if imagesData.imagePosRelativeH is not same as('introduction') %}
                    <div>Introduction</div>
                {% endif %}
            </div>
        {% endif %}

        {% if not (imagesData.imagePos starts with 'top') %}
            {% include 'areas/jwpimareas-element-image/images.html.twig' %}
        {% endif %}
    {% endif %}

</div>
