@theme {
    --height-jwpimareas-header: 80px;
    --height-jwpimareas-header-scrolled: 56px;
}
.jwpimareas-page-side {
    flex: 0 0 5vw;
    @variant xl {
        @apply flex-1;
    }
}
.jwpimareas-page-flex {
    @apply flex-1;
    @variant xl {
        flex: 0 0 1280px;
    }
}
