@theme {
    --height-jwpimareas-header: 5rem;
    --height-jwpimareas-header-scrolled: 3.5rem;
    --spacing-jwpimareas-footer-space: 2.5rem;
    --spacing-jwpimareas-footer-space: 2.5rem;
    --spacing-jwpimareas-footer-t: 1.3125rem;
    --spacing-jwpimareas-footer-b: 0.8125rem;
    --color-jwpimareas-footer-bg: #000;
    --color-jwpimareas-footer-text: #b0bec5;
}
.jwpimareas-page-side {
    flex: 0 0 5vw;
    @variant xl {
        @apply flex-1;
    }
}
.jwpimareas-page-flex {
    @apply flex-1;
    @variant xl {
        flex: 0 0 1280px;
    }
}
