{# Resources/views/areas/jw-example/view.html.twig #}

<div class="jw-example-brick pim-area-brick">

    {# Headline – editierbar im Pimcore-Backend #}
    <h2 class="jw-example-brick__headline">
        {{ pimcore_input('headline', { placeholder: 'Headline eingeben ...' }) }}
    </h2>

    {# Subline – editierbar im Pimcore-Backend #}
    <p class="jw-example-brick__subline">
        {{ pimcore_input('subline', { placeholder: 'Subline eingeben ...' }) }}
    </p>

    {# Wysiwyg-Textbereich #}
    <div class="jw-example-brick__text">
        {{ pimcore_wysiwyg('text', { placeholder: 'Text eingeben ...' }) }}
    </div>

    {# Beispiel: Aus action() übergebener PHP-Parameter #}
    {% if info.getParam('headline') %}
        {# Nur im Editiermodus sichtbar – zum Debuggen #}
        {% if editmode %}
            <div class="jw-example-brick__debug">
                <small>PHP-Param headline: {{ info.getParam('headline') }}</small>
            </div>
        {% endif %}
    {% endif %}

</div>
