<!DOCTYPE html>
<html lang="language">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noodp,noydir,noarchive">
    <title>{{ 'jwPimAreas.adminMenuDocs.title' | trans({}, 'admin') }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('pimAreaBricksDocs', null, 'pimareabricks') }}
    {% endblock %}
</head>
<body>
    <div class="jwpimareasdocs-page">
        <div class="jwpimareasdocs-container">
            <h1>{{ 'jwPimAreas.adminMenuDocs.docs' | trans({}, 'admin') }}</h1>
            <p></p>
        </div>
    </div>
</body>
</html>
