{% set anchor = pimcore_input('anchor').getData() %}

<div>{{ dump() }}</div>

{% if editmode %}
    <div class="mt-3 mb-1 border-b">
        <small>{{ 'jwPimAreas.custom.start' | trans({}, 'admin', editorLanguage) }}</small>
    </div>
{% endif %}
<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}>
    {% include 'areablocks/custom.html.twig' with {'infoId': info.getId()} %}
</div>
{% if editmode %}
    <div class="mt-3 mb-1 border-b">
        <small>{{ 'jwPimAreas.custom.end' | trans({}, 'admin', editorLanguage) }}</small>
    </div>
{% endif %}
